{% extends 'base.html.twig'%}

{% block title %}All categories{% endblock %}

{% block body %}
    <h1>All categories from the table category </h1>
    {% for category in categories %}
        <div>
            <h2><a href="{{ path("category_show", { categoryName : category.name }) }}"> {{ category.name }}</a></h2>
        </div>
    {% else %}
        No category found.
    {% endfor %}
    
    <a href="{{ path('category_new') }}">
        Add a new category
    </a><br>

    <a href="{{ path('app_index') }}">
        Return to home
    </a>

{% endblock %}