{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {% for program in programs %}
    <h2><a href="{{ path('program_index', { slug: program.slug }) }}">{{ program.id }} / {{ program.title }}</a></h2>
        <p>{{ program. summary }}</p>

    {% else %}
        <p>No series to display.</p>
    {% endfor %}

{% endblock %}