{% extends 'base.html.twig' %}

{% block title %}Les acteurs{% endblock %}

{% block body %}
    <h1>All the actors of the actor table : </h1>
    {% for actor in actors %}
        <div>
            <p>{{ loop.index }} / {{ actor.name }}</p>
            <a href="{{ path("actor_show", { id: actor.id }) }}">See his films</a>
        </div>
    {% else %}
        No actor found.
    {% endfor %}
    
    <a class="link-return" href="{{ path('app_index') }}">Return to home</a>

{% endblock %}