@import "~bootstrap/scss/bootstrap";

    $primary-color: white;
    $primary-text: black;
    $secondary-text: #0087E2;
    $secondary-color: #C4C4C4;
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }


body {
    font-family: 'Roboto', sans-serif;
}