<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {% block stylesheet %}
        <link rel="icon" href="/assets/images/castle-50.png">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block header %}
        {% endblock %}
        
        {% block body %}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </body>
</html>
