<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>New program</title>
</head>
<body>
    <h1>New {% block what %}{% endblock %} created</h1>
    <p>Hello, the new {% block title %}{% endblock %} has been created on Wild Series</p>
    <p>Summary : {% block summary %}{% endblock %}</p>
    {% block content %}
    {% endblock %}
</body>
</html>