{% extends 'base.html.twig' %}

{% block title %}{{'My.profile'|trans}}{% endblock %}

{% block body %}
<h1>{{'My.informations'|trans}}</h1>
<a class="nav-link nav-style" href="{{ path('app_logout') }}">{{'Disconnect'|trans}}</a>
{% endblock %}